body{
   
}
#content{
    margin:0 auto;
    width:940px;
    height:500px;
    margin-top:80px;
   
    
}

#image{
    height:260px;
    
    width:240px;
    
    float:left;
   
    
}

#image img{
    height:230px;
    width:230px;
    padding:4px;
    background-color:#fff;
    border:1px solid #c8c8c8;
   
}

#uploadicon{
    margin-top:10px;
    float:right;
    
}

#pro_info{
    width: 672px;
    float:right;
    margin:0px;
    margin-left:20px;
    background-color:#fff;
    padding-top:12px;
    background-color:#fff;
}
input[type=text]{
    font-size:14px;
    height:30px;
    padding:4px 6px;
    
}
select{
    width:206px;
    font-size:14px;
}
form{
    margin-top:-10px;
}
select{
    color:#999999;
}
#save{
    font-size:14px;
    float:right;
    margin-right:180px;
}
.icon-pencil{
    color:#0088CC;
    margin-left:8px;
}

#editicon{
    float:right;
    margin-right:180px;
}

#crop{
    background-color:#fff;
    left:278px;
    z-index:100;
    height:500px;
    width:800px;
    border:1px solid #c8c8c8;
    margin:0px auto;
    padding:0px;
    position:fixed;
    top:70px;
    
}


#photodiv{
    width:440px;
    height:440px;
    margin:30px;
    overflow:hidden;
    border:1px solid #c8c8c8;
    float:left;
}

#thumb{
    float:right;
    margin-right:40px;
    margin-top:140px;
}

#upload{
    margin:20px;
    width:320px;
    border:1px solid #2f96b4;
    position:fixed;
    top:200px;
    background-color:#fafafa;
    left:500px;
}

#uploadbutton{
    float:right;
    margin-right:10px;
}
input[type="file"]{
    margin-left:10px;
}
#upload .head{
    padding:3px 3px 3px 10px;
    margin-bottom:10px;
    background-color: #34A3C1;
}
#upload #alert{
    height:20px;
}
#upload .head span{
    color:#1F6274;
}
#alert{
    margin-left:10px;
    font-size:12px;
    color:rgb(192,30,41);
}
